@charset "UTF-8";

/*Gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #2B1821;
    --cor02: #140B0F;
    --cor03: #FD288D;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

body {
    background-color: var(--cor02);
}

/*Cabeçalho*/

main .flex {
    align-items: flex-start;
    justify-content: space-around;
}

.texto-topo {
    color: white;
    font-family: Poppins, sans-serif;
    padding-left: 15px;
}

.texto-topo h2 {
    padding-top: 30px;
    font-size: 15px;
}

.texto-topo h1 {
    font-size: 60px;
    line-height: 55px;
    padding: 2rem 0;
}



.img-topo {
    align-items: center;
}

.img-topo img {
    max-width: 40vh;
}