@charset "UTF-8";

/*Gerais*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #2B1821;
    --cor02: #140B0F;
    --cor03: #FD288D;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

body {
    background-color: var(--cor02);
}

.btn button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: var(--cor03);
    border-radius: 20px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.btn button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #fd288b8d;
}
section.topo {
    background-color: var(--cor01);
    padding-bottom: 25px;
}
/*TOPO*/

main .flex {
    align-items: flex-start;
    justify-content: center;
    gap: 7%;
}

.texto-topo {
    color: white;
    font-family: Poppins, sans-serif;
    padding-left: 15px;
}

.texto-topo h2 {
    padding-top: 30px;
    font-size: 15px;
}

.texto-topo h1 {
    font-size: 60px;
    line-height: 55px;
    padding: 2rem 0;
}

.texto-topo p {
    padding-bottom: 20px;
}

.texto-topo .btn {
    padding-left: 25%;
}

.img-topo {
    margin: auto 0;
}

.img-topo img {
    max-width: 40vh;
    border-radius: 40px;
}

/*SOBRE*/

section.sobre {
    height: 500px;
    background-image: url(imagens/imagen2.jpg);
    background-size: cover;
    padding-top: 180px;
}

section.sobre .texto-sobre {
    text-align: center;
    color: var(--cor03);
    font-family: Poppins, sans-serif;
}

section.sobre .texto-sobre h2 {
    padding: 20px 0px;
    line-height: 1.5rem;
}

section.sobre .texto-sobre p {
    line-height: 1rem;
}
